    <!-- Block sidebar -->
    {% block sidebar %}

    <style>
            .card{
                box-shadow: 0 16px 48px #E3E7EB;
            }
           
    </style>
    
    <!-- Sidebar Widgets Column -->
    <div class="col-md-4 float-right ">
    <div class="card my-4">
            <h5 class="card-header">Magnetar Labs</h5>
        <div class="card-body">
            <p class="card-text"> Magnetar Labs es una empresa que combina los conocimientos sobre economia, finanzas, ingenieria en sistemas, informatica estadistica marketing y programacion y ofrece consultoria de negocios, esta dedicada a la ciencia de crear mas con menos!</p>
            <a href="https://djangocentral.com/building-a-blog-application-with-django"
               class="btn btn-danger">Aprende Mas!</a>
        </div>
    </div>
    </div>
    
    {% endblock sidebar %}